<html>
<head></head>
<body>
You have been added to the basecamp.</ br>
To activate your account, <a href="http://beta.pagalguy.com/basecamp/activations?activation_string=<%=@activation.activation_number%>">click here</a>

</body>
</html>
