<div>
	<h3 class='ListHeading'>Your Projects</h3>
	<ul>
	<% projects.each do |project| %>
	
	<li>
		<%= link_to project.name, proj_path(project),:class=>"BlueLink"  %>
	</li>
	
	<% end %>
	</ul>
</div>