<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="SingleColumn">
			<div class="PageHeader">
				<h4>
					<%=@user.username %>'s to-do items across all projects
				</h4>
			</div>
			<div class="PageContent">
				<% @projects.each do |project|%>
				 	<% if project.todolists.size != 0 %>
					<div class="TodoList">
						<h4><%= link_to project.name, proj_path(project)%></h4>
						<% project.todolists.each do |todolist|%>
						<% if todolist.todos.size !=0 %>
						<table border="0" class="TodolistTable" cellspacing="0" cellpadding="0">
							<tr>
								<td class="TodolistNameColumn"><%= link_to todolist.name, proj_todolist_path(project,todolist)%></td>
								<td>
									<ul>
										<%  todolist.todos.find(:all,:conditions=>{:user_id=>@user.id}).each do |todo| %>
											<li><%=todo.todo_text%></li>
										<%   end %>
									</ul>
								</td>
							</tr>
						</table>
						<% end %>
						<%end%>
					</div>
					<%end%>
				<%end%>
			</div>
		</div> 
</td>
</tr>
</table>   

 