<html>
<head></head>
<body>
You have been assigned a todo.</ br>
To see what it is <a href="http://beta.pagalguy.com/basecamp/projs/<%=@todo.proj_id%>/todolists/<%=@todo.todolist_id%>">click here</a>

</body>
</html>
