<html>
<head></head>
<body>
You have been added to the project "<%= @project.proj.name%>"</ br>
To know more <a href="http://beta.pagalguy.com/basecamp/projs/<%=@project.proj_id%>">click here</a> 

</body>
</html>
